
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(237, 237, 237);
    color: rgb(31, 31, 31);
}

.red {
    color: red;
}

.unselectable {
    user-select: none;
}

#navbar {
    position: fixed;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-end;

    width: 100%;
    height: 40px;
    top: 2px;
    
    border: black 1px;
}

#navitem {
    display: flex;
    padding-right: 2vw;
    border: 1px black;
}

#lang {
    position: inherit;
    text-align: right;

    right: 100%;
    top: 0;
    font-size: 14px;
}

#content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
